{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
	<div class="col-md-8">
		<div class="col-md-12">

			<h2>pregunta {{pregunta.id}}</h2>
			<p style="font-size: 24px;">{{pregunta.enunciado}}</p>

		</div>
		<div class="col-md-4">
			<form class="form-signin" action = "" method = "post">
				{% csrf_token %}
				<label class="sr-only" >codigo</label>
				<input type="text" name="codigo" class="form-control" placeholder="codigo" autofocus="">
				<br>
				<button class="btn btn-md btn-primary" type="submit">enviar</button>
			</form>
		</div>
	</div>
	<div class="col-md-4">
		<img class="img-responsive" src="{% static "img/mario-register.png" %}">
	</div>
</div>

{% endblock %}