{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
	<div class="col-md-2">
		<div class="col-md-10">
			<img class="img-responsive" src="{% static "img/coin-left.png" %}">
			<br>
			<img class="img-responsive" src="{% static "img/coin-left.png" %}">
			<br>
			<img class="img-responsive" src="{% static "img/coin-left.png" %}">
			<br>
			<img class="img-responsive" src="{% static "img/coin-left.png" %}">
		</div>
	</div>
	<div class="col-md-8 text-center" style="font-family: marioFont;">
		<h1>INSTRUCTIVO</h1>
		<br>
		<p style="font-size: 24px;">aqui van las instrucciones</p>
		<div class="col-md-4 col-md-offset-4">
			<button  onclick="window.location='{% url "pregunta" pregunta.nombre %}'" class="btn btn-md btn-primary btn-block" type="submit">comenzar</button>
			<br>
		</div>
	</div>
	<div class="col-md-2">
		<div class="col-md-10">
			<img class="img-responsive" src="{% static "img/coin-right.png" %}">
			<br>
			<img class="img-responsive" src="{% static "img/coin-right.png" %}">
			<br>
			<img class="img-responsive" src="{% static "img/coin-right.png" %}">
			<br>
			<img class="img-responsive" src="{% static "img/coin-right.png" %}">
		</div>
	</div>
</div>

{% endblock %}