{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header"></h1>
		</div>
	</div>

	<div class="container">
		<div class="col-sm-3 col-sm-offset-1">
		   <img class="img-responsive center-block" src="{% static "img/toad.png" %}">
		</div>
		<div class="col-sm-4">
			<form class="form-signin" action = "" method = "post">
				<h3 class="form-signin-heading text-center">REGISTRA TU EQUIPO</h3>
				<label class="sr-only" >equipo</label>
				<input type="text" name="equipo" class="form-control" placeholder="nombre del equipo" autofocus=""><br>
				<label class="sr-only">password</label>
				<input type="password" name="password" class="form-control" placeholder="contrasena"><br>
				<button class="btn btn-lg btn-primary btn-block" type="submit">registrar</button>
				<br>
				<a href = "{% url "index" %}" style="text-decoration: none;"> volver </a><br>
			</form>
		</div>
		<div class="col-sm-3">
		   <img class="img-responsive center-block" src="{% static "img/toad-right.png" %}">
		</div>
	</div>
	<br>
</div>

{% endblock %}